{% extends '@UserList/Default/index.html.twig' %}

{% block body %}
    <h2>Twój użytkownik:</h2>
    <ol>
        <li><b>Imię: </b>{{user.getName}}</li>
        <li><b>Nazwisko: </b>{{user.getSurname}}</li>
        <li><b>Opis: </b>{{user.getDescription}}</li>
    </ol>
{% endblock %}